.welcAnimate{
  background: linear-gradient(to right, rgb(10, 27, 255), rgb(183, 1, 255));
  border-radius: 10px;
  position: relative;
  animation: rotate 2s linear infinite;
}

#welcome {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
}

@keyframes rotate {
  100%{
    filter: hue-rotate(360deg);
  }
}

#cardsContainer{
  height: auto;
}

.card{
  background: linear-gradient(0deg, rgb(2,0,36) 20%, rgb(79,79,242, 0.7) 54%, rgba(38,186,215,0.7) 71%);
  border: solid 4px transparent;
  border-image: linear-gradient(rgb(10, 27, 255), rgb(183, 1, 255))1;
}

.borders{
  border: solid 4px transparent;
  border-image: linear-gradient(rgb(10, 27, 255), rgb(183, 1, 255))1;
}

.sect{
  position: relative;
  overflow: hidden;
}

.flechas{
  width: 100%;
  height: 100px;
  position: absolute;
  top: calc(50% - 50px);
  align-items: center;
  justify-content: space-between;
}

.flecha-izquierda, .flecha-derecha{
	border: none;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	height: 50%;
	top:  calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;   /*para asegurar que la flecha quede arriba*/
	transition: .2s ease all;
  border: 2px solid #fff;
  border-radius: 10px;
}

.flecha-izquierda:hover, .flecha-derecha:hover{
  background: rgba(0, 0, 0, .9);
}

.effectDer{
  animation: desliceDer 0.3s linear;
}

.effectIzq{
  animation: desliceIzq 0.3s linear;
}

@keyframes desliceDer {
  0%{
    transform: translate(100%);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes desliceIzq {
  0%{
    transform: translate(-100%);
  }
  100%{
    transform: translateX(0);
  }
}

.commentsScroll{
  height: 600px;
  overflow-y: scroll;
}

@media (max-width: 767.98px){
  .flechas{
    width: auto;
    height: 100px;
    position: relative;
    align-items: center;
    justify-content: space-around;
  }
}

.modal-content{
  background-color: rgba(5, 26, 30, 0.807);
  border: solid #fff 1px;
}